#banner{
    display: flex;
    justify-content: center;
    &__image{
        width: 85%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px;
        filter:brightness(50%);
    }
    &__title{
        position: absolute;
  color: white;
  margin-top: 85px;
  font-size: 35px;
    }


@media screen and (min-width: 300px) and (max-width: 900px){

    &__image{
        height: 100px;
        width: 100%;
        margin: 0px 15px;
    }
    &__title{
        left: 20px;
        margin-top: 20px;
        font-size : 25px ;
        width: 180px;  
    }

}
}


