$PinkColor : #FF6060 ;

#collapse{
  display: flex;
  flex-direction: column;
  margin: 0px 150px ;
  margin-top: 30px;
  &__liste{
    font-size: 22px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 40px;
    background-color: $PinkColor;
    list-style: none;
    color: white;
    border-radius: 5px;
    justify-content: space-between;
        &__liste--arrow{
        height: 30px;
        margin-right: 10px; 
  
    }
  }
  &__description {
    max-height: 0;
    color: $PinkColor;
    font-size: 16px;
    background-color: #F6F6F6;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    transition: max-height 1s;   
    &.open {
      max-height: 500px;
    }
  }
  .text-wrapper {
    padding: 15px;
  }

  @media screen and (min-width: 300px) and (max-width: 900px){
  margin: 15px 15px;
    }      
  }