$PinkColor : #FF6060 ;

#error{
    color: $PinkColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    margin: 79.5px;
    &__numero{
        font-size: 200px;
        margin: 10px;
    }
    @media screen and (min-width: 300px) and (max-width: 900px){
        margin: 94px 35px ;
        gap: 20px;
        &__numero{
            font-size: 100px;
        }  
        &__numero--description{
            display: flex;
            text-align: center;
        }
        
    }
}