$Color : #FF6060;

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 80px; 
  &__link--acceuil, &__link--apropos{
  margin: 10px;
  color: $Color;
  text-align: right;
  font-family: Montserrat;
  font-size: 24px;
  text-decoration: none;
  }

 @media screen and (min-width: 300px) and (max-width: 900px){
    
      margin: 15px;
      &__logo, img{
      width: 130px;
    }&__link{
      display: flex;
      align-items: center;
      
    }&__link--acceuil, &__link--apropos{
      display: flex;
      font-size: 17px;
      margin-right: 0px;
      margin-left: 20px;
    
    }
  }
  }
  
  #header__link--acceuil:hover, #header__link--apropos:hover{
    border-bottom: $Color 2px solid;
  }
 


  
 